.forgot-pass-section {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
  background: radial-gradient(circle at center,
  rgba(122, 230, 192, 0.287) 0%,
  rgba(122, 230, 192, 0.287) 15%,
  rgba(255, 255, 255, 0.9) 60%,
  #fff 100%
);
}